/* this file controls the styling of the app */

/* make the navigation bar black, with bold white font*/ 
.navbar {
  background-color: #000000;
  color: white !important;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: white !important;
}

.tab-panel { 
  background-color: #000000; 
  color: white !important;
}

.navbar-nav li a:link {
  color: white !important;
}

/* when the links in the nav bar are hovered over or selected, make the background green */
.navbar-nav li a:hover, .navbar-nav > .active > a {
color: white !important;
background-color:#00A33B !important;
background-image: #00A33B !important;
}